*
!.gitignore
!AmpGen/
!AmpGen/**
!src/
!src/**
!test/
!test/**
!apps/
!apps/**
!doc/
!doc/**
!options/
!options/**
!examples/
!examples/**
!.ci/
!.ci/**
!README.md
!README.tex.md
!Standalone.cmake
!CMakeLists.txt
!.travis.yml
!.gitmodules
!LICENSE
!CONTRIBUTING.md






